@import "../../style/utils.scss";

.individual-main-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content:space-between;
    position: relative;
    background-color: $background;
    
    >.individual-component{
        width: 55%;
        height: auto;
    }
}