@import "../../style/utils.scss";

.profile-main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    >.profile-component{
        width: 55%;
        min-height: 100vh;
        max-width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $background;
        
    }
}