@import "../../../style/utils.scss";
.modal-input{
    width: 100%;
    height: auto;
    border: none;
    padding: 0.5rem 0;
    background-color: whitesmoke;
    font-size: 13px;
    color: black;
    outline: none;
    font-family: Poppins;
}