@import "../../../../style/utils.scss";
.suggestion_card{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.6rem 0;
    padding: 0 0.5rem;
    

    >.profile_pic{
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      
      >img{
        width: 55%;
        height: 80%;
        border-radius: 50%;
      }
    }
    >.username{
        width: 40%;
        font-family: Roboto;
        text-align: left;
        font-size: 14px;
        cursor: pointer;

        >.name{
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 1px;
        }
        >.user{
            font-family: Poppins;
            padding: 0.05rem 0;
            color: $grey-color;
        }
    }
    >.follow_btn{
        width: 25%;
        display: flex;
        align-items: center;
        color: $primary-color;
        cursor: pointer;
        >p{
            font-size: 16px;
            font-weight: 600;
            font-family: Roboto;
            
        }
        &:hover{
            color: rgb(221, 67, 12);
        }
    }
}